body {  
    font-family: 'Arial', sans-serif;  
    background-color: #f6f9fc;  
    margin: 0;  
    padding: 20px;  
}  

.container {  
    max-width: 500px;  
    margin: auto;  
    background: #ffffff;  
    padding: 20px;  
    border-radius: 8px;  
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  
    transition: transform 0.2s;  
}  

.container:hover {  
    transform: scale(1.02);  
}  

h1 {  
    text-align: center;  
    color: #007bff;  
    margin-bottom: 20px;  
    font-size: 24px;  
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);  
}  

.input-area {  
    display: flex;  
    flex-direction: column;  
    margin-bottom: 20px;  
}  

.input-area input[type="text"],  
.input-area input[type="date"] {  
    padding: 10px;  
    border: 2px solid #007bff;  
    border-radius: 4px;  
    margin-bottom: 10px;  
    outline: none;  
    transition: border-color 0.3s;  
}  

.input-area input[type="text"]:focus,  
.input-area input[type="date"]:focus {  
    border-color: #0056b3;  
}  

button {  
    padding: 10px 15px;  
    border: none;  
    border-radius: 4px;  
    background-color: #28a745;  
    color: white;  
    cursor: pointer;  
    transition: background-color 0.2s;  
    font-weight: bold;  
}  

button:hover {  
    background-color: #218838;  
}  

.filter-area {  
    margin-bottom: 20px;  
    text-align: center;  
}  

.filter-area select {  
    padding: 10px;  
    border: 2px solid #007bff;  
    border-radius: 4px;  
    margin-left: 5px;  
    cursor: pointer;  
    transition: border-color 0.3s;  
}  

.filter-area select:hover {  
    border-color: #0056b3;  
}  

.task-stats {  
    text-align: center;  
    margin-top: 20px;  
    font-weight: bold;  
    color: #333;  
}  

.task-list {  
    margin-top: 10px;  
}  

ul {  
    list-style-type: none;  
    padding: 0;  
}  

li {  
    padding: 10px;  
    border: 1px solid #007bff;  
    border-radius: 4px;  
    margin-top: 10px;  
    background-color: #e7f3ff; /* رنگ پس‌زمینه روشن */  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    transition: background-color 0.3s;  
}  

li.completed {  
    text-decoration: line-through;  
    background-color: #d4edda; /* رنگ کارهای انجام شده */  
}  

li button {  
    background-color: #e4939b; /* رنگ دکمه حذف */  
    border: none;  
    border-radius: 4px;  
    color: white;  
    padding: 5px 10px;  
    cursor: pointer;  
}  

li button:hover {  
    background-color: #fda0a9; /* رنگ دکمه حذف در حالت هاور */  
}  

@media (max-width: 600px) {  
    .input-area {  
        flex-direction: row;  
        align-items: center;  
    }  

    .input-area input[type="text"] {  
        flex: 1;  
        margin-right: 10px;  
    }  

    .input-area input[type="date"] {  
        flex: 1;  
    }  
}